* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  scroll-behavior: smooth;
}

section {
  padding: 100px;
}

.banner {
  position: relative;
  min-height: 100vh;
  background: url(imagens/sid-inlustrada-3op.jpg) no-repeat #000;
  background-size: contain;
  background-position: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}


.textBx {
 padding-top: 300px;
}

.banner h2 {
  font-size: 3em;
  color: #fff;
  font-weight: 500;
  line-height: 1.5em;
}

.banner h2 span {
  font-weight: 700;
  font-size: 1.5em;
}

.banner h3 {
  font-size: 1.5em;
  color: #fff;
  font-weight: 500;
}

figure {
  width: 200px;
  height: 60px;
  margin: 100px 10px;
  cursor: pointer;
  perspective: 500px;
  -webkit-perspective: 500px;
}

figure div {
  height: 100%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: 0.25s;
  -webkit-transition: 0.25s;
}

figure:hover div {
  transform: rotateX(-90deg);
}

figure span {
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  border: 4px solid #fff;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 50px;
  font-size: 17pt;
  text-align: center;
  text-transform: uppercase;
}

figure span:nth-child(1) {
  color: #fff;
  transform: translate3d(0, 0, 30px);
  -webkit-transform: translate3d(0, 0, 30px);
}

figure span:nth-child(2) {
  color: #fff;
  background: #2196f3;
  border: 4px solid #2196f3;
  transform: rotateX(90deg) translate3d(0, 0, 30px);
  -webkit-transform: rotateX(90deg) translate3d(0, 0, 30px);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

header.sticky {
  background: #fff;
  padding: 20px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

header .logo {
  color: #fff;
  font-size: 1.2em; 
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
}

header.sticky .logo {
  color: #111;
}

header ul {
  position: relative;
  display: flex;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
}

header.sticky ul li a {
  color: #111;  
}

.heading {
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
  color: #111;
}

.heading h2 {
  font-weight: 600;
  font-size: 30px;
  margin: 0px;
}

.content {
  display: flex;
  justify-content: space-between;
  text-align: justify;
}

.contentBx h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.content p {
  padding-right: 30px;
}

.w50 {
  min-width: 50%;
}

img {
  max-width: 100%;
}

.services {
  background: #111;
}

.heading.white {
  color: white;
}

.services .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.services .content .servicesBx {
  padding: 20px 10px;
  background: #222;
  color: #fff;
  max-width: 340px;
  margin: 20px;
  text-align: center;
  transition: 0.5s;
}

.services .content .servicesBx:hover {
  background: #2196f3;
}

.services .content .servicesBx img {
  max-width: 80px;
  filter: infert(1);
  width: 40px;
}

.services .content .servicesBx h2 {
  font-size: 20px;
  font-weight: 600;
}

/* ÍNICIO CAROUSEL */

.card {  
  margin: 20px; 
}

.card:hover {
 background-color: #2196f3;
}

img,
.card-img-top {
  border-radius: 0em;
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 768px) {
  .card-columns {
    column-count: 3;
  }
}

@media (min-width: 992px) {
  .card-columns {
    column-count: 4;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    column-count: 5;
  }

  .contvideo video{
    width: 500px;
    height: auto;
  }
}


/* FIM CAROUSEL */

.contvideo {
  padding-top: 50px;
}

.work .content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.work .content .workBx {
  width: 50%;
  padding: 20px;
}

.work .content .workBx img {
  max-width: 100%;
}

.testimonial {
  background: #f7f7f7;
}

.testimonial .content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.testimonial .content .testimonialBx {
  min-width: calc(50% - 40px);
  padding: 60px 40px;
  margin: 20px;
  background: #2196f3;
}

.testimonial .content .testimonialBx p {
  color: #fff;
  font-style: italic;
  font-size: 16px;
  font-weight: 300;
}

.testimonial .content .testimonialBx h3 {
  margin-top: 40px;
  text-align: end;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  line-height: 1em;
}

.testimonial .content .testimonialBx h3 span {
  font-size: 14px;
  font-weight: 400; 
}

.contact {
  background: #111;
}

.formBx {
  min-width: 60%;
  
}

.formBx form {
  display: flex;
  flex-direction: column;
}

.formBx form h3, .contactInfo {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.formBx form input, .formBx form textarea {
  margin-bottom: 20px;
  padding: 15px;
  font-size: 16px;
  background: transparent;
  border: none;
  outline: none;
  background: #222;
  color: #fff;
  resize: none;
}

.formBx form textarea {
  min-height: 200px;
}

.formBx form input::placeholder, 
.formBx form textarea::placeholder {
  color: #999;
}

.formBx form input[type="submit"] {
  max-width: 100px;
  background: #2196f3;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.contactInfo {
  min-width: 40%;
}

.contactInfoBx {
  position: relative;
}

.contactInfoBx .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}

.contactInfoBx .box .icon {
  min-width: 40px;
  padding-top: 4px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 24px;
}

.contactInfoBx .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}

.contactInfoBx .box .text h3 {
  font-weight: 500;
  color: #2196f3;
  margin-bottom: 0;
}

.copyright {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 10px;
}


/* RESPONSIVIDADE */


@media (min-width: 1200px){
  .banner {
    position: relative;
    min-height: 100vh;
    background: url(imagens/sid-inlustrada-3op.jpg) no-repeat #000;
    background-size: contain;
    background-position: right ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }
  
  .textBx {
   padding-top: 300px;
  }
  
  .banner h2 {
    font-size: 4em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
  }
  
  .banner h2 span {
    font-weight: 700;
    font-size: 1.5em;
  }
  
  .banner h3 {
    font-size: 2em;
    color: #fff;
    font-weight: 500;
  }

}

@media (max-width: 991px) {
  header, header.sticky {
    padding: 20px 50px;
    z-index: 1000;
  }
  .menu {
    position: fixed;
    top: 75px;
    left: -100%;
    display: block;
    padding: 100px 50px;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: #fff;
    transition: 0.5s;
    z-index: 999;    
    border-top: 1px solid rgba(0,0,0,0.2)
  }
    .menu.active {
    left: 0;
  }
  header ul li a {
    color: #111;
    font-size: 24px;
    margin: 10px;
  }
  .toggle {
    width: 30px;
    height: 30px;
    background: url(imagens/menus-white.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
  }
  .toggle.active {
    width: 30px;
    height: 30px;
    background: url(imagens/menus-white.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
  }
  header.sticky .toggle{
    filter: invert(1);
  }
  section {
    padding: 100px 50px;
  }
  .banner {
    padding: 150px 50px 100px;
  }
  .banner h2 {
    font-size: 1.5em;
  }
  .banner h3 {
    font-size: 1em;
  }
  .btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
  }
  .heading h2 {
    font-size: 24px;
  }
  .contentBx h3 {
    font-size: 20px;
  }
  .content {
    flex-direction: column;
  }
  .w50 {
    margin-bottom: 20px;
  }
  .service .content .serviceBx {
    margin: 10px; 
  }
  .work .content .workBx {
    width: 100%;
    padding: 10px;
  }
  .testimonial .content .testimonialBx {
    max-width: calc(100% - 20px);
    padding: 40px 20px;
    margin: 10px;
  }
  .testimonial .content .testimonialBx h3 {
    margin-top: 20px;
  }  
  .contactInfo {
    margin: 20px 0;
  }
}

@media (max-width: 600px) {
  header, header.sticky {
    padding: 20px 20px;
  }
  .banner {
    padding: 150px 20px 100px;
  }
  .section {
    padding: 100px 20px;
  }
}

ul {
    margin: 0px;
    padding: 0px;
}


/* footer */

body{
  margin:0;
  overflow-x:hidden;
  }
  
  .footer{
  background:#000;
  padding:30px 0px;
  font-family: 'Poppins', sans-serif;
  text-align:center;
  }
  
  .footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size:0.8em;
  }
  
  .footer .row a{
  text-decoration:none;
  color:gray;
  transition:0.5s;
  }
  
  .footer .row a:hover{
  color:#fff;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display: inline-block;
  margin:0px 30px;
  font-size: 1.2em;
  }
  
  .footer .row a i{
  font-size: 2.5em;
  margin:0% 2%;
  }

  .copy {
    border-top: 1px solid rgba(255, 255, 255, 0.199);
   
  }

  .copy p{
    padding-top: 30px;
    font-size: 1em;
  } 
  
  @media (max-width:780px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display: none;
  margin:10px 0px;
  text-align: center;
  
  }
  .footer .row a i{
  margin:0% 8%;
  
  }
  }